.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.landing-page {
  background-color: #161616;
  min-height: 100vh;
}
.gradient-text {
  background: linear-gradient(90deg, #e879f9 0%, #c75ed0 50%, #421242 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.fade::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 50%, #121212);
  pointer-events: none;
}

.statistics-paragraph1 {
  font-size: 32px;
  line-height: 40px;
}

.statistics-paragraph2 {
  font-size: 16px;
  line-height: 22px;
}
.pricing-headline {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  opacity: 0.96;
}
.pricing-paragraph {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  opacity: 0.68;
}

.pricing-card {
  background-color: #1a1a1a;
}
.pricing-card-active {
  background-color: #7d4283;
}
.pricing-card-label {
  font-size: 18.34px;
  line-height: 27.51px;
}
.pricing-card-description {
  font-size: 12.23px;
  line-height: 18.34px;
  color: #fff;
}
.pricing-card-label-active {
  color: #fff;
}
.pricing-card-price {
  font-size: 18.96px;
  line-height: 28.44px;
  color: #fff;
}
.pricing-card-duration {
  font-size: 16.05px;
  line-height: 24.07px;
  color: #fff;
  opacity: 68%;
}
.pricing-card-button {
  background-color: #fff;
  border-radius: 7.64px;
  font-size: 15.28px;
  line-height: 22.92px;
  padding: 8px 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .statistics-paragraph1 {
    font-size: 62px;
    line-height: 75px;
  }
  .statistics-paragraph2 {
    font-size: 24px;
    line-height: 32px;
  }
  .pricing-card-button {
    border-radius: 7.64px;
    font-size: 22.81px;
    line-height: 34.22px;
    padding: 10px 28px;
    text-align: center;
  }
  .pricing-card-price {
    font-size: 28.3px;
    line-height: 42.44px;
    color: #fff;
  }
  .pricing-card-duration {
    font-size: 23.95px;
    line-height: 35.93px;
  }
  .pricing-card-label {
    font-size: 27.37px;
    line-height: 41.06px;
  }
  .pricing-card-description {
    font-size: 18.25px;
    line-height: 27.37px;
    color: #fff;
  }

  .pricing-headline {
    font-size: 66.99px;
    line-height: 100.48px;
    text-align: start;
    opacity: 0.96;
  }
  .pricing-paragraph {
    font-size: 18.25px;
    line-height: 27.37px;
    text-align: start;
    opacity: 0.68;
  }
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
